{
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "jest": true,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "object-curly-newline": [
            "error",
            {
                "consistent": true
            }
        ],
        "lines-between-class-members": [
            "error",
            "always"
        ],
        "no-trailing-spaces": "error",
        "eol-last": [
            "error",
            "always"
        ],
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "no-unused-vars": "off"
    }
}
